*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    display: grid;
    grid-template-rows: 1fr  ;
    position: absolute;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 80px;
    border: 1px solid  rgb(250, 124, 101);
    box-shadow: 4px 4px  rgb(250, 124, 101);
    border-radius: 5px;
}

.navBar{
    margin-top: 40px;
    /* display: flex; */
    /* align-items: center; */
    border: 1px solid rgb(250, 124, 101);
    padding: 5px;
    margin-left: 110px;
    margin-right: 120px;
    border-radius: 5px;
    box-shadow: 4px 4px rgb(250, 124, 101);
}

.navBar ul{
    display: flex;
    text-align: center;
    margin-left: 550px;
}

.navBar li{
    display: inline-block;
    margin: 0 30px;
    text-decoration: underline;
    font-size: 20px;
    cursor: pointer;
    color: grey;
    /* font-family: poppins; */
}

.navBar li:hover{
    border: 1px solid tomato;
    color: whitesmoke;
    background-color: tomato;
    border-radius: 5px;
    /* padding: 5px; */

}



.rowcard{
    display: grid;
    grid-template-columns: 1fr ;
    position: relative;
    margin-top: 20px;

    /* border: 1px solid red; */
    /* padding: 5px; */
}

.row1-column1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


button{
    padding: 4px;
    background-color: tomato;
    color: whitesmoke;
    font-family: poppins;
    font-size: 15px;
    border-radius: 7px;
    margin-top: 15px;
}

button:hover{
    cursor: pointer;
    box-shadow:3px 3px  rgb(58, 57, 57);
}



.cartDetailsTitle{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cartColumn{
    border:  1px solid;
    margin-top: 15px;
    position: relative;
    text-align: center;
    background-color: tomato;
    color: whitesmoke;
}

.cartDetails{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

.cartDetailsColumn{
    border: 1px solid;
    margin-top: 0.5px;
    text-align: center;
}

.cartDetailsColumn:first-child{
    text-align: left;
}

#cartSectionNumber{
    padding: 5px;
    margin-left: 15px;
    /* position: absolute;
    bottom: 150px; */
    border-radius: 80px;
    width: 50px;
    font-size: 30px;
}

#cartSection{
    font-size: 40px;
}

.img-container{
    width: 250px;
    height: 250px;
    margin-left: 200px;
    padding: 5px;
}

.img-container:hover{
   border: 1px solid rgb(212, 207, 207);
   box-shadow: 5px 5px rgb(212, 207, 207);
   width: 300px;
   height: 300px;
   transition: 1;
}

.product-details{
    margin-left: -100px;
    margin-right: 100px;
}

.product-title,.description,.price,.stock{
    margin-top: 10px;
}

.addToCart:nth-child(2){
    background-color: blue;
}

/* #product2Tag,#product4Tag{
    width: 200px;
    height: 200px;
    margin-left: 30px;
} */